.parallax>use {
    animation: move-forever 36s linear infinite;
    backface-visibility: hidden;
    perspective: 1000;
}

.parallax>use:nth-child(1) {
    animation-delay: -6s;
}

.parallax>use:nth-child(2) {
    animation-delay: -6s;
    animation-duration: 15s;
}

.parallax>use:nth-child(3) {
    animation-delay: -12s;
    animation-duration: 21s;
}

@keyframes move-forever {
    0% {
        transform: translate3d(-90px, 0, 0);
    }
    100% {
        transform: translate3d(85px, 0, 0);
    }
}

.wave {
    position: fixed;
    bottom: 0px;
    display: block;
    width: 100%;
    height: 14em;
    margin: 0;
}

html {
    font-size: 16px;
}

body {
    background-color: #1e2756;
    margin: 0;
    width: 100%;
}

* {
    font-family: 'Montserrat', sans-serif;
    text-rendering: geometricPrecision;
    box-sizing: border-box;
}

section {
    width: 100%;
    display: flex;
    position: relative;
    z-index: 9999;
}

section>div {
    width: 50%;
}

.left {
    display: flex;
    justify-content: center;
    min-height: 100vh;

}

.left img {
    width: 70%;
}

.right {
    color: white;
    padding: 0 6%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.right>* {
    letter-spacing: 2px;
    text-transform: uppercase;
    padding-bottom: 10px;
    margin: 0;
    padding: 10px 0;
}

.right h1 {
    font-size: 4rem;
}

.right h2 {
    font-size: 1.5rem;
    font-weight: 500;
    line-height: 2.8rem;
}

.right h3,
.right h4 {
    font-size: 1.3rem;
    line-height: 1.7rem;
    padding: 3px 0;
}

.right h3 {
    font-weight: 500;
}

.right h4 {
    font-weight: 400;
}

.right p {
    font-size: 1.2rem;
    font-weight: 300;
    letter-spacing: 2px;
}

.pink {
    color: #DB3069;
}

.underline {
    padding-bottom: 6px;
    margin-bottom: 16px;
    border-bottom: 4px solid white;
}

.humber-logo {
    display: inline;
    width: 4rem;
}


/*prevent many large-by-comparison ripples by shrinking the height*/

@media (max-width: 50em) {
    .content h1 {
        font-size: 12vmax;
    }
}

@media screen and (max-width: 900px) {
    .wave {
        width: 200%;
        height: 10em;
    }
    body {
        padding: 0;
    }
    section>div {
        width: 100%;
    }
    .left {
        padding: 0;
        min-height: 230px;
        justify-content: center;
    }
    .left img {
        width: 70%;
    }
    .right {
        margin-top: 0;
        padding: 0;
    }
    .right h1 {
        font-size: 2rem;
    }
    section {
        display: inline-block;
        padding: 4% 21%;
    }
}

@media screen and (max-width: 650px) {
    section {
        padding: 10%;
    }
    .left {
        min-height: 280px;
    }
    .left img {
        width: 100%;
    }
    .right h1 {
        font-size: 2rem;
    }
    .right>h2 {
        padding: 10px 0 0 0;
    }
    .right>* {
        padding: 0;
    }
}
