.parallax > use {
    animation: move-forever 12s linear infinite;
    backface-visibility: hidden;
    perspective: 1000;
}

.parallax > use:nth-child(1) {
    animation-delay: -2s;
}

.parallax > use:nth-child(2) {
    animation-delay: -2s;
    animation-duration: 5s;
}

.parallax > use:nth-child(3) {
    animation-delay: -4s;
    animation-duration: 7s;
}

@keyframes move-forever {
    0% {
        transform: translate3d(-90px, 0, 0);
    }
    
    100% {
        transform: translate3d(85px, 0, 0);
    }
}

.wave {
    position: absolute;
    bottom: 0px;
    display: block;
    width: 100%;
    height: 14em;
    margin: 0;
}


html {
    font-size: 16px;
}

body {
    background-color: #1e2756;
    margin: 0;
    padding: 9em 0 0 0;
}

* {
    font-family: 'Montserrat', sans-serif;
    text-rendering: geometricPrecision;
    box-sizing: border-box;
}

section {
    display: flex;
    padding: 0 10%;
}

section > div {
    width: 50%;
}
.left {
    display: flex;
    align-items: flex-end;
    justify-content: center;
}
.left img {
    width: 70%
}
.right {
    color: white;
    padding-left: 6%
}
.right > * {
    letter-spacing: 2px;
    text-transform: uppercase;
    padding-bottom: 10px;
    margin: 0;
    padding: 10px 0;
}

.right h1 {
    font-size: 4rem
}

.right h3 {
    font-size: 1.5rem
}

.right p {
    font-size: 1.2rem;
    font-weight: 300;
    letter-spacing: 2px
}

.pink {
    color: #dd2c68;
}

.underline {
    padding-bottom: 6px;
    margin-bottom: 16px;
    border-bottom: 6px solid white;
}

.humber-logo {
    display: inline;
    width: 4rem
}

/*prevent many large-by-comparison ripples by shrinking the height*/

@media (max-width: 50em) {
    .content h1 {
        font-size: 12vmax;
    }
    .editorial {
        height: 17vw;
    }
}